html {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  font-size: .8rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

body {
  background-color: #c9b5ab;
}

img {
  width: 100%;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

strong {
  font-weight: normal;
}

nav ol li {
  list-style: none;
}

nav ol li a {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

figcaption {
  text-align: center;
  font-style: italic;
}

main p {
  line-height: 1.5;
}

main .first-p {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote cite {
  font-size: .8rem;
}

main ol {
  list-style-type: lower-greek;
}

aside ul {
  list-style-type: circle;
  font-size: .8rem;
}

.serving-size {
  font-style: italic;
}

dt {
  font-weight: bold;
}

small {
  font-size: .8rem;
}
